<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
<div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :services_offered %></br>
    <%= f.check_box :long_term, {}, "true", "false" %>
    <%= f.label :long_term, "Long-term" %>
    <%= f.check_box :short_term, {}, "true", "false" %>
    <%= f.label :short_term, "Short-term" %>
  <!--  <div class="form-check">-->
  <!--    <input class="form-check-input" type="checkbox" name"service_offered_id[]" value="" id="short-term-check">-->
  <!--    <label class="form-check-label" for="short-term-check">-->
  <!--    Short-Term-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="form-check">-->
  <!--    <input class="form-check-input" type="checkbox" name"service_offered_id[]" value="" id="long-term-check">-->
  <!--    <label class="form-check-label" for="long-term-check">-->
  <!--    Long-Term-->
  <!--    </label></br>-->
  <!--</div>-->
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Update Profile", class: 'btn btn-primary' %>
  </div>

<% end %>