<div class ="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
        </div>
        
        <div class="col-md-6">
            <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
            <h3>Services offered</h3>
            <% if @user.profile.long_term == "true" %>
            <div>
              <p>Long term</p>  
            </div>
            <% end %>
            <% if @user.profile.short_term == "true" %>
            <div>
                <p>Short term</p>
            </div>
            <% end %>
            <div class="well profile-block profile-description">
                <h3>Description</h3>
               <%= @user.profile.description %> 
            </div>
            <% if true #current_user.plan_id == 2 %>
            <div class="well profile-block profile-contact-info">
                <h3>Contact Information</h3>
              <%= @user.profile.phone_number %><br/>
              <%= @user.profile.contact_email %><br/>
            <% end %>
            </div>
        </div>
    </div>
</div>